body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
}

.ses{
    text-align: left;
    width: 40%;
    background: rgb(109, 248, 250);
    background: linear-gradient(0deg, rgb(92, 237, 240) 0%, rgb(174, 138, 218) 100%);
    color:white;
    font-weight: bold;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.ses h2{
    color:lavender;
    text-align: center;
    background: pink;
    background: linear-gradient(90deg, pink(0,212,255,1) 0%, rgb(172, 110, 216) 50%, rgb(130, 234, 255) 100%);
    margin-top:0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid white;

}

.ses p{
    padding-left: 24px;
    padding-right: 24px;
}